body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: #461c7c;
  color: white;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
  background-color: #461c7c;
  color: white;
}

.animation-example {
  display: flex;
}

.display {
  height: 100%;
  width: 50%;
  background-color: cadetblue;
}

.details {
  width: 50%;
}
